@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html,body{
    font-family: 'Lato';
    background-color: #C8A27A;
    margin: 0;
}

.title{
    font-family: 'Montserrat';
}

nav{
    display: flex;
    list-style: none;
    width: 100%;
    height: auto;
    padding: 16px 32px;
    box-shadow: -2px 3px 20px 1px #00000042;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
}


nav img{
    width: 160px;
    margin: 0;
    
}

nav ul{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 16px;

   list-style: none;

   margin: 0;
   padding: 0;
   color: black;
}

.link-1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: fit-content;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
    color: black;
}

img{
    width: 200px;
}

main{
    display: flex;


}