@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html,body{
    font-family: 'Lato';
    background-color: #C8A27A;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    font-family: 'Montserrat';
}

nav{
    display: flex;
    list-style: none;
    height: auto;
    padding: 16px 32px;
    box-shadow: -2px 3px 20px 1px #00000042;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}


nav img{
    width: 160px;
    margin: 0;
    
}

nav ul{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 16px;

   list-style: none;

   margin: 0;
   padding: 0;
   color: black;
}

.link-1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: fit-content;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    padding: 12px 24px;
    background-color: #000;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.container h1{
    font-size: 48px;
    text-align: left;
}

a{
    text-decoration: none;
    color: black;
}

img{
    width: 200px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    margin: 0;
    width: 100%;

}

#left{
    flex: 1;
    text-align: left;
    
}

#right{
    flex:  1;
}

#right img{
    width: 100%;
    object-fit: cover;

}

.cta{
    padding: 12px 24px;
    background-color: #000;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.cta-1{
    padding: 10px 24px;
    background-color: transparent;
    border: black solid;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    color: black;
}

.cta:hover{
    opacity: 0.7;
}

.cta-1:hover{
    background-color: white;
}

.promise-card{
    background-color:#e8a966;
}
.promise-card h1{
    text-align: center;
     
}

    .promise-header {
      display: flex;
      width: 100%;
      text-align: center;
      justify-content: center;     
    }

 
    .photo img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 470px;
    }

    .valeur{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 30px;
        gap: 16px;
        
    }

    .cta-2{
    padding: 12px 24px;
    background-color: #000;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    gap: 16px;
}